<h1>IFP</h1>
<h4>CONNECT.LEARN.GROW</h4>
<p>Welcome to The Interfaith Project! We are currently under construction! Please visit frequently for updates!</p>
<p>-IFP crew</p>
<br>
<p>Hello!</p>
<p>We hope this letter finds you in good health and high spirits! My team and I are currently working on an interfaith app, and are in need of your assistance.</p>
<p>We are looking for participants to share noteworthy stories of interfaith experiences to be featured as part of our Interfaith Project App. Anyone with an inspiring or thought provoking story is invited to record their story via any mobile voice recording
    app, or from any computer by clicking on this <a href="https://webaudiodemos.appspot.com/AudioRecorder/index.html">link</a>.</p>
<p>We ask that participants please:</p>
<ul>
    <li>Preface their recording with their name and location.</li>
    <li>Record a story that is no longer than 5 minutes in length.</li>
    <li>Be sure all content of the story is appropriate for audiences aged 9 and over.</li>
</ul>
<p>Email the sound files as mp3, .wav, or as downloaded from the above link to theinterfaithproject@gmail.com.</p>
<p>We hope to collect as many audio stories as we can to populate our library and jump start our app! We believe this project has the potential to promote understanding amongst those curious of other faiths. We hope this service will help foster understanding
    and build bridges between people of all faiths, in an effort to better the world we live in.</p>
<p>Please take a moment to share our request (FAR AND WIDE) amongst your communities, friends and groups. We would also be very grateful if you would:</p>
<ul>
    <li>Add us on twitter <a href="https://twitter.com/IFPAudiostories">@IFPaudiostories</a></li>
    <li>Like us on Facebook <a href="https://www.facebook.com/IFPaudiostories/">@IFPaudiostories</a> and share our Page!</li>
    <li>Donate to our GO FUND ME campaign!</p>
</ul>
<p>Your generous support is greatly appreciated!</p>
<br>
<h3>-The Interfaith Project-</h3>
