@import './variables/theme.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
body{
  background-color: #C9CEDC;
}
.jumbotron{
  color: #151238;

}
li{
  font-size: 23px;
  color: #151238;
}
