<div class="jumbotron">
    <h1>IFP</h1>
    <h4>CONNECT.LEARN.GROW</h4>
    <p>Welcome to The Interfaith Project!
        We are currently under construction! Please come back soon!</p>
        <p>-IFP crew</p>
        <br>
    <p>The Interfaith Project is a bridge building platform designed to bring individuals of diverse religious and cultural practices together. As our societies continue to diversify, IFP seeks to bridge understanding through relatable audio narratives of shared interfaith experiences. We invite anyone with positive interfaith interactions to record and post their stories in an effort to highlight the universal truths we all share; love, acceptance, and hope.</p>

    <p>Our spiritual and cultural paradigms are perhaps the strongest means by which we connect with those around us. The specific mission of this project is to provide a platform by which we educate one another. By fostering a sense of commonality amongst peoples of all faiths, The Interfaith Project will serve as a gateway to understanding the collective human story. Providing a means by which peoples of all religious denominations and cultural practices can interact and discover commonalities. We firmly believe these narratives will serve to affect positive change.</p>

    <p>It is our hope The Interfaith Project will serve to mend the increasingly divided communities in our country and extend this goodwill out into the world. We hope you find the stories here as uplifting and thought provoking as we do. We encourage civil and meaningful dialog amongst our participants as we strive to make our world a more inclusive place.</p>

      <h3>-The Interfaith Project-</h3>
</div>
